@import "../../App.scss";
@import "../../themes.scss";

.card__body {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--card-bg);
  text-align: center;
  overflow: hidden;
  border-radius: 0.25em;
  padding-bottom: 1.1rem;
  transition: all 200ms;
  cursor: pointer;
  @media (max-width: 520px) {
    padding-left: 40px;
    text-align: left;
    &:nth-of-type(even){
      background-color: var(--card-bg-darker)!important;
    }
  }
  &:hover {
    background: var(--card-bg-darker);
  }
 }

.card__content {
  display: block;
  .card__network--profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    @media (max-width: 520px) {
      justify-content: flex-start;
    }
  }
  .card__user {
    font-size: 12px;
    font-weight: 700;
    margin-left: 10px;
  }
  .card__quantity {
    margin-top: 10px;
    font-size: 56px;
    font-weight: 700;
  }
  //tipo de subscritor
  .card__subscriber {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
  }
  //cantidad de seguidores nuevos del dia
  .card__current {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    margin-top: 1.1rem;
  }
  .card__trending {
    color: var(--lime-Green);
    &::before {
      content: url("../../assets/images/icon-up.svg");
      position: relative;
      bottom: 2px;
      right: 4px;
    }
  }
  .card__not-trending {
    color: var(--bright-Red);
    &::before {
      content: url("../../assets/images/icon-down.svg");
      position: relative;
      bottom: 2px;
      right: 4px;
    }
  }
  //Logo de la red social
  // .card__user::before {
  //   position: relative;
  //   height: 50px;
  //   width: 20px;
  //   content: url($icon);
  //   top: 6px;
  //   right: 6px;
  // }
}

//color del header de la card
.card__header-strip {
  display: block;
  height: 4px;
  transition: all 200ms ease-in-out;
  @media (max-width: 520px) {
    position: absolute;
    left: 0;
    top: 0%;
    width: 4px;
    height: 100%;
  }
}
.yt {
  .card__header-strip {
    background-color: var(--youTube);
  }
}
.tw {
  .card__header-strip {
    background-color: var(--twitter);
  }
}
.ig {
  .card__header-strip {
    background: var(--instagram);
  }
}
.fb {
  .card__header-strip {
    background-color: var(--facebook);
  }
}

// @keyframes mymove {
//   0% {width: 4px;
//     height: 100%;
//   }
//   50%{
//     width: 4px;
//     height: 4px;
//   }
//   100% {width: 100%;
//     height: 4px}
// }

// .card__body:hover .card__header-strip{
//   animation: mymove 500ms alternate both
// }