@import "../../App.scss";

.modal__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.24);
}

.modal__card {
  position: relative;
  margin: auto;
  background-color: white;
  width: 100%;
  margin: 80px;
  border-radius: 20px;
  overflow: hidden;
  max-width: 990px;
  @media (max-width: 900px) {
    margin: 20px;
  }
}
.modal__header {
  background-color: $top-bg-pattern;
  padding: 46px 62px;
  @media (max-width: 500px) {
    padding: 24px;
  }
}
.modal__row {
  display: flex;
}
.modal__row--user-data {
  margin-top: 20px;
}
.modal__row--kpi {
  margin-top: 40px;
  flex-wrap: wrap;
  @media (max-width: 500px) {
    margin-top: 20px;
  }
}
.modal__social-logo {
  height: 21px;
  width: 21px;
  background-image: url("../../assets/images/icon-facebook.svg");
}
.modal__social-user {
  margin-left: 10px;
  font-size: 0.8rem;
  font-weight: 700;
  color: $lighter-text;
}

.modal__kpi {
  display: flex;
  align-items: flex-start;
  color: $light-text;
  //   max-width: 232px;
  margin-right: 40px;

  .modal__kpi-number {
    font-size: 40px;
    font-weight: 700;
  }
  .modal__kpi-label {
    margin-left: 20px;
    font-weight: 300;
    font-size: 14px;
    margin-top: 6px;
  }
  .trending {
    color: $lime-Green;
    &::before {
      content: url("../../assets/images/icon-up.svg");
      bottom: 13px;
      right: 8px;
      position: relative;
    }
  }
  .not-trending {
    color: $bright-Red;
    &::before {
      content: url("../../assets/images/icon-down.svg");
      bottom: 13px;
      right: 8px;
      position: relative;
    }
  }
}

.modal__chart {
  height: 50vh;
  padding: 38px 20px;
  @media (max-width: 500px) {
    padding: 20px 0 0 0;
    margin-left: -30px;
  }
}

.modal__close {
  position: absolute;
  top: 40px;
  right: 36px;
  color: $lighter-text;
  cursor: pointer;
  @media (max-width: 500px) {
    top: 20px;
    right: 20px;
    padding: 10px;
  }
}
