@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

//light-theme variables

$lime-Green: hsl(163, 72%, 41%);
$bright-Red: hsl(356, 69%, 56%);
$facebook: hsl(195, 100%, 50%);
$twitter: hsl(203, 89%, 53%);
$instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$youTube: hsl(348, 97%, 39%);
$Toggle: hsl(230, 22%, 74%);
//White
$bg: hsl(0, 0%, 100%);
//Very Pale Blue
$top-bg-pattern: hsl(225, 100%, 98%);
//Light Grayish Blue
$card-bg: hsl(227, 47%, 96%);
//Light Grayish Blue
$card-bg-darker: hsl(232,33,91);
//dark-grayish-blue
$light-text: hsl(228, 12%, 44%);
//Text
$text: hsl(230, 17%, 14%);
//desaturated-purple
$chart: hsl(243, 51%, 70%);
$toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);


//Global Mixins

@mixin text-element($font-size: 20px, $font-weigth: 700, $font-color: $text) {
  font-size: $font-size;
  font-weight: $font-weigth;
  color: $font-color;
}

@mixin rounded($radius: 4px) {
  border-radius: $radius;
}
//Global reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Global styles

html {
  font-size: 16px!important;
    
  @media screen and (min-width: 900px) {
    font-size: 18px!important;
  }
    
  @media screen and (min-width: 1200px) {
    font-size: 20px!important;
  }
}


body {
  font-family: "Inter", "Helvetica", "Gill-Sans", sans-serif;
  color: $text;
  width: 100vw;
  overflow-x: hidden;
}

//App Styles
.overview_title{
  font-size: 1.5rem
}
//Dark Theme
/*

#### Light Theme



### Neutral

#### Dark Theme

- Very Dark Blue (BG): hsl(230, 17%, 14%)
- Very Dark Blue (Top BG Pattern): hsl(232, 19%, 15%)
- Dark Desaturated Blue (Card BG): hsl(228, 28%, 20%)
- Desaturated Blue (Text): hsl(228, 34%, 66%)
- White (Text): hsl(0, 0%, 100%)
- Desaturated Purple (Chart): hsl(243, 51%, 70%)

#### Light Theme


## Typography

### Body Copy

- Font size (Overview Card Headings): 14px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700 */

.app__container {
  max-width: 1100px;
  margin: auto;
  &::before{
    content: "";
    height: 250px;
    width: 100vw;
    background: $top-bg-pattern;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.card-deck__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px 30px;
}

.overview_title{
  font-size: 1.2rem;
  margin-top: 2.4rem;
}
//contenedor de cards chicas
.card-deck__container--sm{
  margin-top: 1.2rem;
}

//contenedor de cards grandes
.card-deck__container--lg{
  margin-top: 2rem;
} 
